*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  transition: all .3s;
}

body {
  overflow-x: hidden;
}
body .main {
  width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  /* gap: 16px; */
}
body .main .header {
  flex-basis: 10%;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .main .header .title {
  color: #0bc50b;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  flex-basis: 15%;
  font-size: calc(1vh + 1vw);
  height: 50%;
  display: flex;
  align-items: center;
}
body .main .header .nav {
  flex-basis: 30%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .main .header .nav .item {
  flex-basis: 30%;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  font-size: calc(.7vh + .7vw );
  font-family: 'Poppins', sans-serif;
  color: darkgray;
}
body .main .header .nav .item.active {
  color: #000000;
}
body .main .body {
  flex-basis: 90%;
  display: flex;
  width: 100%;
  flex-flow: nowrap column;
  align-items: center;
  justify-content: space-between;
}
body .main .body .item {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .main .body .item.title {
  flex-basis: 10%;
  font-size: calc(2vw + 2vh);
}
body .main .body .item.register {
  flex-basis: 5%;
  font-size: calc(1vw + 1vh);
  color: #0bc50b;
}
body .main .body .item.register:hover {
  text-decoration: underline;
}
body .main .body .item.login {
  flex-basis: 5%;
  font-size: calc(1vw + 1vh);
  color: #0bc50b;
}
body .main .body .item.login:hover {
  text-decoration: underline;
}
body .main .body .item.form {
  flex-basis: 80%;
  flex-flow: nowrap column;
  justify-content: flex-start;
  gap: calc(.5vh + .5vw);
}
body .main .body .item.form .input {
  width: 50%;
  border: 2px solid gray;
  padding: .5rem;
  border-radius: .3rem;
  font-size: calc(.7vh + .7vw);
}
body .main .body .item.form .input.submit {
  color: white;
  background: #0bc50b;
  cursor: pointer;
}
body .main .body .item.form .input.submit:hover {
  color: #0bc50b;
  background: white;
}
body .main .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  color: white;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
body .main .footer .logo {
  flex-basis: 5%;
  height: 50%;
}
body .main .footer .title {
  height: 50%;
  /* flex-basis: 9%; */
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
body .main .footer .title:hover {
  text-decoration: underline;
}
body .main .footer:hover .title {
  text-decoration: underline;
}
body .main.home {
  height: fit-content;
  min-height: fit-content;
}
body .main.home .header {
  flex-basis: 10vh;
}
body .main.home .header_description {
  flex-basis: 20vh;
  width: 100%;
  background: #0bc50b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: nowrap column;
  gap: 0.5rem;
}
body .main.home .header_description .title {
  /*flex-basis: 35%;*/
  /* width: 50%; */
  font-size: calc(1.5vh + 1.5vw);
  font-weight: bold;
  letter-spacing: 3px;
  /* justify-self: end; */
  /* align-self: end; */
}
body .main.home .header_description .description {
  /*flex-basis: 20%;*/
  font-size: calc(1.4vh + 1.4vw);
  letter-spacing: 2px;
}
body .main.home .body {
  flex-basis: fit-content;
  display: grid;
  grid-template-columns: 70vw 20vw;
  justify-content: center;
  grid-auto-rows: max-content;
  grid-gap: 1rem;
  padding-top: calc(1vh + 1vw);
  align-items: flex-start;
}
body .main.home .body .feeds {
  width: 100%;
  height: 100%;
  display: grid;
  grid-gap: 1.3rem;
  grid-template-columns: initial;
  grid-template-rows: 30% auto;
}
body .main.home .body .feeds .nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
  border-bottom: 2px solid #cfcaca;
  gap: 1rem;
  color: #cfcaca;
}
body .main.home .body .feeds .nav .item {
  height: 100%;
  width: fit-content;
  position: relative;
  font-size: calc(.8vw + .8vh);
}
body .main.home .body .feeds .nav .item.active {
  color: #000000;
}
body .main.home .body .feeds .nav .item.active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  transform-origin: bottom;
  transform: scaleY(0.1) translateY(20px);
}
body .main.home .body .feeds .content {
  overflow: hidden;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 100%);
  grid-auto-columns: 100%;
}
body .main.home .body .feeds .content .item_ {
  background: #cfcaca;
}
body .main.home .body .feeds .content .item_:nth-child(1) {
  transform: translateX(-100%);
}
body .main.home .body .feeds .content .item_:nth-child(2) {
  transform: translate(-100%, 100%);
}
body .main.home .body .feeds .content .item_:nth-child(3) {
  transform: translateX(-100%);
}
body .main.home .body .feeds .content.first .item_:nth-child(1) {
  transform: translateX(0);
}
body .main.home .body .feeds .content.second .item_:nth-child(2) {
  transform: translate(-100%, 0);
}
body .main.home .body .feeds .content.third .item_:nth-child(3) {
  transform: translateX(-200%);
}
body .main.home .body .aside {
  background: #e0d7d7;
  padding: .5rem;
  display: flex;
  flex-flow: nowrap column;
  gap: .3rem;
  border-radius: .3rem;
}
body .main.home .body .aside .tag {
  border: none;
  border-radius: .3rem;
  background: black;
  color: wheat;
  width: fit-content;
  padding: .3rem;
  font-size: calc(.6vw + .6vh);
}

img, svg {
  width: 100%;
  height: 100% !important;
}
